In [1]:
import pandas as pd

In [3]:
penguins_data = {
    'Species': ['Adelie', 'Gentoo', 'Chinstrap', 'Adelie', 'Gentoo', 'Chinstrap'],
    'Island': ['Torgersen', 'Biscoe', 'Dream', 'Biscoe', 'Torgersen', 'Dream'],
    'Culmen_Length_mm': [39.1, 49.2, 46.5, 38.7, 50.1, 45.8],
    'Flipper_Length_mm': [181.0, 214.0, 192.0, 178.0, 216.0, 190.0],
    'Body_Mass_g': [3750, 5150, 3500, 3800, 5200, 3450],
    'Sex': ['Male', 'Female', 'Female', 'Female', 'Male', None]
}

penguins_df = pd.DataFrame(penguins_data)
penguins_df

,Species,Island,Culmen_Length_mm,Flipper_Length_mm,Body_Mass_g,Sex
0,Adelie,Torgersen,39.1,181.0,3750,Male
1,Gentoo,Biscoe,49.2,214.0,5150,Female
2,Chinstrap,Dream,46.5,192.0,3500,Female
3,Adelie,Biscoe,38.7,178.0,3800,Female
4,Gentoo,Torgersen,50.1,216.0,5200,Male
5,Chinstrap,Dream,45.8,190.0,3450,None

In [9]:
def analyze_penguines(df):
  # clean the data
  df = df.dropna(subset = ['Sex'])

  # Count the Unique islands per species
  unique_islands = df.groupby('Species')['Island'].nunique()

  # Average culmen length per species 
  avg_culmen_length = df.groupby('Species')['Culmen_Length_mm'].mean()

  # Median flipper length per species
  median_flipper = df.groupby('Species')['Flipper_Length_mm'].median()

  # Total body mass per species
  total_boday_mass = df.groupby('Species')['Body_Mass_g'].sum()

  # Combine everything into one DataFrame
  result_df = pd.DataFrame({
    'UniqueIslands' : unique_islands,
    'AvgCulmenLength' : avg_culmen_length,
    'MedianFlipperLength' : median_flipper,
    'TotalBodyMass' : total_boday_mass
  })

  return result_df

In [12]:
result = analyze_penguines(penguins_df)
result

           UniqueIslands  AvgCulmenLength  MedianFlipperLength  TotalBodyMass
Species
Adelie                 2            38.90                179.5           7550
Chinstrap              1            46.50                192.0           3500
Gentoo                 2            49.65                215.0          10350